*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: sans-serif;
    /* border: 1px solid red; */
    text-decoration: none;

}

#navbar {
    display: flex;
    justify-content: space-between;
    /* margin: 1rem; */
    align-items: center;
    width: 100%;
}

.nav-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
}

.nav-logo img{
    width: 3rem;
    height: 3rem;
    padding: 0;
}

.nav-search{
    display: flex;
    align-items: center;
    border: 2px solid black;
    position: relative;
    padding: 5px 10px;
   width: 100%;
    border-color: lightgray;
    border-radius: 25px;
    border: none;
    background-color: rgba(211,211,211,0.6);
    flex: 1 1 auto;
    
}

/* .nav-search input{
    width: 100%;
} */

input:focus{
    border: none;
    outline: none;
}

input::placeholder{
    background-color: rgba(211,211,211,0.6);
}

.right-input-logo {
    position: absolute;
    right: 10px;
}

.nav-items ul{
    display: flex;
    align-items: center;
    gap: 3rem;
   
}

.nav-items li{
    display:inline-block ;
    list-style-type: none;
    
}

/* .nav-items-border {
    border: 1px gray solid;
    min-height: 2em;
} */


