* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

/* navigation bar */
#navbar {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    align-items: center;
}

.left img {
    height: 3em;
    width: 3em;
    padding: 0;
}

input {
    border: none;
    padding: 5px 10px;
    line-height: 1px;
}

input:focus {
    border: none;
    outline: none;
}

.input-container {
    border: 1px solid;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    width: 900px;
    border-radius: 30px;
    position: relative;
    margin-left: 15px;
}

.right-input-logo {
    position: absolute;
    right: 10px;
}

.left {
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
    gap: 3em;
    right: 7px;
}

.right-submit {
    gap: 3em;
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
}

.right-submit button {
    height: 32px;
    padding-inline: 11px;
    font-weight: 500;
    line-height: 30px;
    color: grey;
    border-radius: 2px;
    border: none;
}

button:hover {
    color: black;
    border: 1px solid black;
}

#nav-border {
    border: 1px gray solid;
    min-height: 2em;
}
